.listRoomOptions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardRoom {
  width: 400px;
  height: 430px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(127, 115, 98);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.roomsForBooking {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.paymentCntainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: bisque;
}

.roomDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.nameAndPrice {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.priceAndReserve {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.cardRoomDetails {
  width: 60%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBarContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(161, 210, 254);
}
